<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:19:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/user/assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="/user/assets/css/style.css">

</head>

<body>

    <div class="main-wrapper">
        <header class="header-area transparent-bar section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo logo-width">
                            <a href="index.html">
                                <img src="/user/assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                    <li class="position-static"><a class="active" href="/user/home">Home <i class="fa fa-angle-down"></i></a>
                                       
                                    </li>
                                    <li><a href="/user/shop">Shop <i class="fa fa-angle-down"></i></a>
                                        
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style header-wishlist">
                                <a href="/user/wishlist"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <a href="/user/cart" >
                                    <i class="dlicon shopping_bag-20"></i>
                                    <!-- <span class="count-style">02</span> -->
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="same-style header-off-canvas">
                                <a class="header-aside-button" href="#">
                                    <i class="dlicon ui-3_menu-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="index.html">
                                <img alt="" src="/user/assets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style cart-wrap">
                                    <a href="/user/cart" >
                                        <i class="dlicon shopping_bag-20"></i>
                                        <!-- <span class="count-style">02</span> -->
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search start -->
        <div class="search-content-wrap main-search-active">
            <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="search-content">
                <p>Start typing and press Enter to search</p>
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search">
                    <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                </form>
            </div>
        </div>
        <!-- mini cart start -->
       
        <!-- aside start -->
        <div class="header-aside-active">
            <div class="header-aside-wrap">
                <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="header-aside-content">
                    <div class="mobile-menu-area">
                        <div class="mobile-search">
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Search entire store…">
                                <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                            </form>
                        </div>
                        <div class="mobile-menu-wrap">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li class="menu-item-has-children"><a href="/user/shop">Home</a>
                                           
                                        </li>
                                       
                                        <li class="menu-item-has-children "><a href="/user/shop">shop</a>
                                            
                                        </li>
                                      
                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                        </div>
                    </div>
                    <div class="header-aside-menu">
                        <nav>
                            <ul>
                                <li><a href="#">About Toro</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">New Look</a></li>
                            </ul>
                        </nav>
                    </div>
                    <img src="/user/assets/images/icon-img/payments.png" alt="payment">
                    <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                            <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                            <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam</li>
                        </ul>
                    </div>
                    <div class="social-icon-style mb-25">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-area bg-gray-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-content text-center">
                            <img src="/user/assets/images/banner/error.png" alt="banner">
                            <h3>Page cannot be found!</h3>
                            <p>It looks like nothing was found at this locations.</p>
                            <div class="btn-style-1 text-center">
                                <a class="btn-border-black2" href="/user/home">
                                    <div class="btn-viewmore-normal btn-ptb-3 btn-viewmore-bg-transparent btn-viewmore-common btn-font-3">
                                        <span>Back to home</span>
                                    </div>
                                    <div class="btn-viewmore-hover btn-ptb-3 btn-viewmore-common btn-hover-transition btn-font-3">
                                        <span>Back to home</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="support-lists">
            <ul>
                <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
                <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
                <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
            </ul>
        </div>
        <div class="view-demo-area">
            <a class="view-demo-btn-active" href="#">More Demos</a>
            <div class="view-demo-aside-active">
                <div class="view-demo-wrap">
                    <div class="view-demo-tab-list nav">
                        <a class="active" href="#view-demo-1" data-bs-toggle="tab">
                            Demo Group 01
                        </a>
                        <a href="#view-demo-2" data-bs-toggle="tab">
                            Demo Group 02
                        </a>
                        <a href="#view-demo-3" data-bs-toggle="tab">
                            Demo Group 03
                        </a>
                    </div>
                    <div class="tab-content jump-2">
                        <div id="view-demo-1" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index.html">
                                                <img src="/user/assets/images/demo-img/h-1.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index.html">Home Demo 01</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-2.html">
                                                <img src="/user/assets/images/demo-img/h-2.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-2.html">Home Demo 02</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-3.html">
                                                <img src="/user/assets/images/demo-img/h-3.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-3.html">Home Demo 03</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-4.html">
                                                <img src="/user/assets/images/demo-img/h-4.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-4.html">Home Demo 04</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-5.html">
                                                <img src="/user/assets/images/demo-img/h-5.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-5.html">Home Demo 05</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-6.html">
                                                <img src="/user/assets/images/demo-img/h-6.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-6.html">Home Demo 06</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-7.html">
                                                <img src="/user/assets/images/demo-img/h-7.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-7.html">Home Demo 07</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-8.html">
                                                <img src="/user/assets/images/demo-img/h-8.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-8.html">Home Demo 08</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discover-more-btn">
                                <a href="#">Discover More</a>
                            </div>
                        </div>
                        <div id="view-demo-2" class="tab-pane">
                            <div class="row">
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-9.html">
                                                <img src="/user/assets/images/demo-img/h-9.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-9.html">Home Demo 09</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-10.html">
                                                <img src="/user/assets/images/demo-img/h-10.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-10.html">Home Demo 10</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-11.html">
                                                <img src="/user/assets/images/demo-img/h-11.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-11.html">Home Demo 11</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-12.html">
                                                <img src="/user/assets/images/demo-img/h-12.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-12.html">Home Demo 12</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-13.html">
                                                <img src="/user/assets/images/demo-img/h-13.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-13.html">Home Demo 13</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-14.html">
                                                <img src="/user/assets/images/demo-img/h-14.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-14.html">Home Demo 14</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-15.html">
                                                <img src="/user/assets/images/demo-img/h-15.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-15.html">Home Demo 15</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-16.html">
                                                <img src="/user/assets/images/demo-img/h-16.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-16.html">Home Demo 16</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discover-more-btn">
                                <a href="#">Discover More</a>
                            </div>
                        </div>
                        <div id="view-demo-3" class="tab-pane">
                            <div class="row">
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-17.html">
                                                <img src="/user/assets/images/demo-img/h-17.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-17.html">Home Demo 17</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-18.html">
                                                <img src="/user/assets/images/demo-img/h-18.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-18.html">Home Demo 18</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-19.html">
                                                <img src="/user/assets/images/demo-img/h-19.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-19.html">Home Demo 19</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discover-more-btn">
                                <a href="#">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="/user/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="/user/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="/user/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="/user/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/user/assets/js/plugins/owl-carousel.js"></script>
    <script src="/user/assets/js/plugins/slick.js"></script>
    <script src="/user/assets/js/plugins/jarallax.min.js"></script>
    <script src="/user/assets/js/plugins/countdown.js"></script>
    <script src="/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/user/assets/js/plugins/instafeed.js"></script>
    <script src="/user/assets/js/plugins/tilt.js"></script>
    <script src="/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/user/assets/js/plugins/isotope.js"></script>
    <script src="/user/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="/user/assets/js/plugins/fullpage.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/user/assets/js/plugins/easyzoom.js"></script>
    <script src="/user/assets/js/plugins/resizesensor.js"></script>
    <script src="/user/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/user/assets/js/plugins/scrollup.js"></script>
    <script src="/user/assets/js/plugins/select2.min.js"></script>
    <script src="/user/assets/js/plugins/cookie.js"></script>
    <script src="/user/assets/js/plugins/bpopup.js"></script>
    <script src="/user/assets/js/plugins/wow.js"></script>
    <script src="/user/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/user/assets/js/main.js"></script>


</body>


<!-- Mirrored from template.hasthemes.com/toro/toro/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:19:24 GMT -->
</html>